.main-header {
  display: flex;
  position: sticky;
  flex-direction: row;
  height: 14%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid gainsboro;
}

.logo-image {
  display: flex;
}

.container-logo {
  display: flex;
  align-items: center;
}

.cart-main {
  display: flex;
  align-items: center;
}

.navigation-menu-main {
  border-bottom: 1px solid gainsboro;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9rem;
  align-items: center;
}

.isHoverable:hover {
  cursor: pointer;
}

.isHoverable {
  margin: 0;
}

.bg-gradient-green {
  background: rgb(234, 238, 242);
  background: -moz-linear-gradient(
    90deg,
    rgba(234, 238, 242, 1) 0%,
    rgba(201, 226, 232, 1) 40%,
    rgba(211, 241, 232, 1) 97%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(234, 238, 242, 1) 0%,
    rgba(201, 226, 232, 1) 40%,
    rgba(211, 241, 232, 1) 97%
  );
  background: linear-gradient(
    90deg,
    rgba(234, 238, 242, 1) 0%,
    rgba(201, 226, 232, 1) 40%,
    rgba(211, 241, 232, 1) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeef2",endColorstr="#d3f1e8",GradientType=1);
}
